
.characters__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.characters__tittle {
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  background-color:#0051ba;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  color: white;
  
}
/*.container__ch__description {
  width: 100%;
  height: 600px;
  display: flex;
    justify-content: center;
    align-items: center;
}*/

.container__ch__description-mario {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0051ba;
  object-fit: cover;
  background-image: url('../img/wallpaper_mario-3.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; 
  
}

.container__ch__description-kong {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b4513;
  object-fit: cover;
  background-image: url('../img/donkey_kong_wallpaper.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; 
}

.container__ch__description-pikachu {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F008;
  object-fit: cover;
  background-image: url('../img/wallpaper-pikachu-2.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; 
}

.container__ch__description-zelda {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #556b2f;
  object-fit: cover;
  background-image: url('../img/wallpaper-zelda.jpg');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center; 
}
.container__ch__description-zelda .description h1  {
  color: black;
}

.container__ch__description-zelda .description p  {
  color: black;
}

/*.container__ch__description img {
 
  position: absolute;
  right: 20vh;
  width: 250px;
  
}*/

/*.mario__img {
  position: absolute;
  right: 20vh;
  width: 250px;
}



.donkey_kong__img {
  position: absolute;
  right: 5vh;
  width: 500px;
}

.pikachu__img {
  position: absolute;
  right: 5vh;
  width: 500px;
}

.zelda__img {
  position: absolute;
  right: 5vh;
  width: 400px;
}*/

.description {
  width: 40%; 
  color: black;
}

.description h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.description p {
  color: white;
  font-size: 25px;
  text-align: justify;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}