
.characters__container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.characters__tittle {
  width: 100%;
  font-size: 40px;
  display: flex;
  justify-content: center;
  background-color: var(--red-mario);
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  color: white;
  
}
/*.container__ch__description {
  width: 100%;
  height: 600px;
  display: flex;
    justify-content: center;
    align-items: center;
}*/

.container__ch__description-mario {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0051ba;
  
}

.container__ch__description-kong {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8b4513;
}

.container__ch__description-pikachu {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F008;
}

.container__ch__description-zelda {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #556b2f;
}

/*.container__ch__description img {
 
  position: absolute;
  right: 20vh;
  width: 250px;
  
}*/

.mario__img {
  position: absolute;
  right: 20vh;
  width: 250px;
}

.donkey_kong__img {
  position: absolute;
  right: 5vh;
  width: 500px;
}

.pikachu__img {
  position: absolute;
  right: 5vh;
  width: 500px;
}

.zelda__img {
  position: absolute;
  right: 5vh;
  width: 400px;
}

.description {
  width: 40%; 
}

.description h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
  margin-bottom: 15px;
}

.description p {
  color: white;
  font-size: 25px;
  text-align: justify;
  font-family: "Archivo Black", sans-serif;
  font-weight: bold;
}