.history__container {
    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: #c8aa50;

}

.history__tittle {
    width: 60%;
    height: 100px;
    background:red;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 40px 0px 40px 0px;
    margin-top: 30px;
    
}

.history__tittle h1 {
    color: white;
    font-size: 30px;
    font-family: "Archivo Black", sans-serif;
}

.history__sub__info__container {
    width: 60%;
    height: auto;
    margin-top: 10px;
    
}

.history__description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    align-content: center;
    text-align: center;
}

.history__description p {

    font-size: 30px;
}


.sub__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    place-content: center;
    width: 60%;
    height: auto;
    margin-top: 30px;
}

.sub__description ul {
    list-style-type: disc; 
    
}

.sub__description li::marker {
    color: white;
    font-size: 2.9rem;
}

.sub__description ul li {
    font-family: "Archivo Black", sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.wame__watch__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 700px;
    justify-content: center;
    place-items: center;
    position: relative;
    background-repeat: repeat-x; /* Para repetir el muro horizontalmente */
    background-size: contain; /* Ajusta el tamaño del muro a lo que necesites */
}

.wame__watch__text {
    
    width: 500px;
    height: auto;
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    gap: 30px;
    margin-left: 160px;
}

.text-1 {
  width: 100%;
  height: 220px;
  border: 4px solid black;
  border-radius: 30px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  place-items: center;
 text-align: center;
 font-family:Arial, Helvetica, sans-serif ;

}
.text-2 {
    width: 70%;
    height: 70px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    background: #c71318;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.wame__watch__img {
    width: 80%;
    height: auto;
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
    background: red;
    margin-right: 100px;
}

.wame__watch__img img {
    max-width: 100%;
}

.enemy-container {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.enemy-container img {
    width: 100%;
    height: auto;
}

.wall-container {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
}

.wall-image {
    flex: 1;
}

.wall-image img {
    width: 100%;
    height: auto;
}

.cloud-container {
    position: absolute;
    bottom: 0;
    right: 0;
    top: 50px;
}


.tube-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.box__coin-container {
    position: absolute;
    bottom: 50%;
    left: 100px;
    
}

.arbusto-container {
    position: absolute;
    bottom: 50px;
}

.description__history__contanier {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 500px;
    justify-content: center;
    place-items: center;
    position: relative;
    background-repeat: repeat-x; /* Para repetir el muro horizontalmente */
    background-size: contain;
}

.description__history {
    grid-area: 1 / 1 / 2 / 2;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 9px;
    
}

.description__history h1 {
    font-size: 40px;
    font-family: "Archivo Black", sans-serif;
}

.description__history p {
    font-size: 24px;
    line-height: 35px;
    font-family: Arial, Helvetica, sans-serif;
}

.description__history img {
    width: 80px;
}

.wame__hands {
    grid-area: 1 / 2 / 2 / 3;
    position: absolute;
    bottom: 0;
}

.wame__hands img {
     width: 700px;
     height: auto;
}

/* .wall-image {
    position: absolute;
    bottom: 0;
    left: 0;
}

.wall-image img {
    width: 100%;
    height: auto;
} */